.CartWidget {
  position: relative;
}

.TotalQuantity {
  position: absolute;
  bottom: 24px;
  right: 14px;
  background-color: #ecae03;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div h3 {
  color: #fff;
}

h4 {
  color: #fff;
}

.Cart {
  margin-top: 20px;
}

.Cart-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.Cart-total-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.Cart-total-amount {
  font-size: 20px;
  font-weight: bold;
  color: #ecae03;
}

.Cart-empty-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ecae03;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

.Cart-empty-link:hover {
  background-color: #bc808e;
}

.Cart-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.Cart-buttons > * {
  margin-left: 10px;
}
