.Container {
    display: flex;
    justify-content: center;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #e6e6e6;
    background-color: #000000b7;
}

.Label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #e0be29;
}

.Input {
    width: 250px;
    height: 30px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
}

.ButtonCheckOut {
    padding: 10px 20px;
    background-color: #b8a433;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.4;
}

.ButtonCheckOut.Active {
    opacity: 1;
}

.ButtonCheckOut.Active:hover {
    background-color: #bcae80;
}
